/* app css stylesheet */

body{
    font-family: Helvetica, arial, freesans, clean, sans-serif
}

ul.news{
    list-style: none;
}

.news blockquote {
    color: #666;
}

.news pre, .news code {
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    font-size: 90%;
}

.news .title{
    font-weight: bold;
}

.news .title span {
    background-color: #FFF6A9;
}

.news a{
    color: #4183C4;
    text-decoration: none
}

.news a:hover{
    text-decoration: underline
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

/* filter-bar styles*/

.filter-bar{
    background: #4183C4;
}

.filter-bar ul{
    list-style: none;
    overflow: auto;
}

.filter-bar ul li {
    float: left;
    padding: 10px;
}