/* app css stylesheet */

body{
    font-family: Helvetica, arial, freesans, clean, sans-serif
}

/* news styles */

ul.news{
    list-style: none;
}

.news .details img {
    float: left;
}

.news blockquote {
    color: #666;
}

.news pre, .news code {
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    font-size: 90%;
}

.news .title{
    font-weight: bold;
}

.news .title span {
    background-color: #FFF6A9;
}

.news a{
    color: #4183C4;
    text-decoration: none
}

.news a:hover{
    text-decoration: underline
}

/* filter-bar styles*/

.username{
    position: absolute;
    left: 53px;
    right: 53px;
    top: 5px
}

.username input{
    width: 100%;
    height: 30px;
    font-size: 22px;
    text-align: center;
}

.filter-bar{
    background: #4183C4;
}

.filter-bar ul{
    list-style: none;
    overflow: auto;
    padding-top: 20px;
}

.filter-bar ul li {
    float: left;
    padding: 10px;
    color: #ffffff;
}

.filter-bar .settings {
    height: 265px;
    overflow-y: auto;
    overflow-x: hidden;
}

.filter-bar .tap-hint{
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

/*stream-view styles*/

.stream-view .filter-bar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 30px;
}

.stream-view .filter-bar .settings {
    display: none;
}

.stream-view.expanded .filter-bar .settings {
    display: inherit;
}

.stream-view.expanded .filter-bar {
    height: 300px;
}

.stream-view ul.news{
    padding-top: 20px;
}

.stream-view.expanded ul.news{
    padding-top: 320px;
}