/* app css stylesheet */

/*http://stackoverflow.com/questions/2728566/android-browser-green-border-on-click*/
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
    margin: 0;
    font-family: Helvetica, arial, freesans, clean, sans-serif
}

/* news styles */

ul.news{
    list-style: none;
    word-wrap: break-word;
}

.news .details img {
    float: left;
}

.news blockquote {
    color: #666;
}

.news pre, .news code {
    font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
    font-size: 90%;
}

.news .title{
    font-weight: bold;
}

.news .title span {
    background-color: #FFF6A9;
}

.news a{
    color: #4183C4;
    text-decoration: none
}

.news a:hover{
    text-decoration: underline
}

/* filter-bar styles*/

.username{
    left: 53px;
    right: 53px;
    top: 30px;
    margin: 10px 30px 0px 30px;
}

.username input{
    width: 100%;
    height: 30px;
    font-size: 22px;
    text-align: center;
}

.filter-bar{
    background: #4183C4;
}

.filter-bar ul{
    list-style: none;
    overflow: auto;
    padding: 20px 0 0 0;
}

.filter-bar ul li {
    padding: 10px;
    color: #ffffff;
}

.filter-bar .settings {
    margin-top: 40px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.filter-bar .tap-hint{
    position: fixed;
    width: 100%;
    background: inherit;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    line-height: 50px;
    height: 50px;
    z-index: 9999;
}

/*stream-view styles*/

.stream-view .filter-bar {
    left: 0;
    top: 0;
    right: 0;
    height: 30px;
}

.stream-view .filter-bar .settings {
    display: none;
}

.stream-view.expanded .filter-bar .settings {
    display: inherit;
}

.stream-view.expanded .filter-bar {
    height: 100%;
}

.stream-view ul.news{
    padding: 20px 2px 2px 2px;
}

.stream-view.expanded ul.news{
    display: none;
}