<div class="filter-bar">
    <div ng-switch on="showFilter" class="tap-hint fat-text">
        <div ng-click="toggleFilter()" ng-switch-when="true"> Tap to hide filters </div>
        <div ng-click="toggleFilter()" ng-switch-when="false"> Tap to show filters </div>
    </div>

    <div class="settings">
        <div class="username">
            <!--HACK https://github.com/angular/angular.js/issues/943-->
            <form ng-submit="refreshData()">
                <input ng-change="refreshData()" placeholder="github user name" type="text" ng-model="username.value">
            </form>
        </div>
        <!--TODO ask in angular group why we need this form tag-->
        <form>

            <ul>
                <li ng-repeat="project in projects">
                    <mobilecheckbox value="project.show" title="project.name"></mobilecheckbox>
                </li>
            </ul>
        </form>
    </div>
</div>